
header {
	background-color: #F15B31;
	font-color: #FFFFFF;
	padding: : 30px, 20px;
	text-transform: uppercase; 
	margin: 0 auto;
}
h1{
	font-family: Raleway;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: 1px;
	margin: 0;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
	color: white;
}

a {
	font-family: raleway;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
	text-decoration: none;

}

a:hover {
	color:black;
  	border-color: white;
 	text-decoration: none;
}

main {
	width: 850px;
	margin: 35px auto;
	padding: 0 5%;
}

body {
	text-align: center;
	margin: 0;
}

h2 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	border-top: 50px;
}

div {
	margin-top: : 40px;
	margin-right: 8px;
	margin-left: 8px;
	padding: 30px;
}
h3 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	border-top: 50px;
	padding-top: 3%;
}

p {
	font-family: 'Droid Serif';
	line-height: 24px;
	font-size: 15px;
	text-align: center;
}
img {
  margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	clear: both;
}

.copyright {
	font-family: raleway;
	float:left;
}

.message {
	font-family: raleway;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name {
	color: #f15b31;
	font-weight: 700;
}



